    <footer id="footer" class="">
      <div id="copyrights">
        <div class="container clearfix">
          <div class="col_half">
            Copyrights &copy; <span class="current-year"></span> Todos los derechos reservados.&nbsp;
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- endif -%}<br />
            <div class="copyright-links"><a href="{{ "/saes2go/" | absolute_url }}">SAES2GO</a> / <a href="{{ "/curriculum/" | absolute_url }}">Curriculum</a></div>
          </div>
          <div class="col_half col_last tright">
            <i class="fa fa-envelope"></i> {{ site.email }} <span class="middot">&middot;</span> <i class="fa fa-twitter"></i> @{{ site.twitter_username }}
          </div>
        </div>
      </div>
    </footer>	
  