
    <header id="header" class="no-sticky">
      <div id="header-wrap">
        <div class="container clearfix">
          <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
          <!-- Logo
            ============================================= -->
          <div id="logo" class="nobottomborder">
            <a href="{{ "/" | relative_url }}" class="standard-logo" data-dark-logo="{{ "/assets/images/Logo_dark.svg" | absolute_url }}"><img src="{{ "/assets/images/Logo_black.svg" | absolute_url }}" alt="Canvas Logo"></a>
            <a href="{{ "/" | relative_url }}" class="retina-logo" data-dark-logo="{{ "/assets/images/Logo_dark.svg" | absolute_url }}"><img src="{{ "/assets/images/Logo_black.svg" | absolute_url }}" alt="Canvas Logo"></a>
          </div>
          <!-- #logo end -->
          <!-- Primary Navigation
            ============================================= -->
          <nav id="primary-menu">
            <ul>
              <li><a href="{{ "/" | relative_url }}"><div>Inicio</div></a></li>
              <li><a href="{{ "/saes2go/" | relative_url }}"><div>SAES2GO</div></a>
                <ul>
                  <li><a href="{{ "/saes2go/privacidad.html" | relative_url }}"><div>Política de Privacidad</div></a></li>
                </ul>
              </li>
            </ul>
          </nav>
          <!-- #primary-menu end -->
          <div class="clearfix d-none d-lg-block">
            <a href="https://fb.me/luisnglbrv" class="social-icon si-small si-borderless si-facebook">
            <i class="icon-facebook"></i>
            <i class="icon-facebook"></i>
            </a>
            <a href="https://twitter.com/pekochu98" class="social-icon si-small si-borderless si-twitter">
            <i class="icon-twitter"></i>
            <i class="icon-twitter"></i>
            </a>
            <a href="https://github.com/pekochu" class="social-icon si-small si-borderless si-github">
            <i class="icon-github"></i>
            <i class="icon-github"></i>
            </a>
          </div>
        </div>
      </div>
    </header>
