---
layout: default
---
<!-- Slider
============================================= -->
<section id="slider" class="slider-element slider-parallax swiper_wrapper full-screen clearfix">
  <div class="swiper-container swiper-parent">
    <div class="swiper-wrapper">
      <div class="swiper-slide dark" style="background-image: url('{{ '/assets/images/slider/mountains_sky_fog_clouds_tops.jpg' | absolute_url }}');">
        <div class="container clearfix">
          <div class="slider-caption slider-caption-center">
            <h2 data-caption-animate="fadeInUp">Hola</h2>
            <p class="d-none d-sm-block" data-caption-animate="fadeInUp" data-caption-delay="200">Y bienvenido a mi págína.</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide dark" style="background-image: url('{{ '/assets/images/slider/mountains_cliff_snow.jpg' | absolute_url }}');">
        <div class="container clearfix">
          <div class="slider-caption slider-caption-center">
            <h2 data-caption-animate="fadeInUp">SAES2GO</h2>
            <p class="d-none d-sm-block" data-caption-animate="fadeInUp" data-caption-delay="200">Aplicación para la Comunidad Politécnica.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contenido
============================================= -->
<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="heading-block center">
        <h1>{{ page.list_title | default: "Posts recientes de mi blog" }}</h1>
        <span>{{ content }}</span>
      </div>
      {%- if site.posts.size > 0 -%}
      <div id="posts" class="small-thumbs font-blog">
        {%- for post in site.posts -%}
        <div class="entry clearfix">
          {%- if post.related_image -%}
          <div class="entry-image">
            {%- assign post_image_url = "/" | append: post.related_image -%}
            <a href="{{ post_image_url | absolute_url }}" data-lightbox="image"><img class="image_fade" src="{{ post_image_url | absolute_url }}" alt="{{ post.title | escape }}"></a>
          </div>
          {%- endif -%}
          <div class="entry-c">
            <div class="entry-title">
              <h2><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
            </div>
            <ul class="entry-meta clearfix">
              {%- assign date_format = site.date_format -%}
              {%- assign tags_list = post.tags -%}
              <li><i class="icon-calendar3"></i> {{ post.date | date: date_format }}</li>
              <li><a href="#"><i class="icon-user"></i> {{ post.author }}</a></li>
              <li><i class="icon-folder-open"></i>
                {% for tag in tags_list %}
                {%- assign post_tag = tag | escape | downcase | url_escape | strip | replace: ' ', '-' -%}
                <a href="{{ "/tag/" | append: tag | absolute_url  }}">{{ post_tag | camelcase }}</a>,
                {% endfor %}
              </li>
            </ul>
            <div class="entry-content">
              <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
              <a href="{{ post.url | relative_url }}" class="more-link">Leer más</a>
            </div>
          </div>
        </div>
        {%- endfor -%}
      </div>
      {%- endif -%}
    </div>
  </div>
</section>